.cat-info {
  margin-top: 20px;

  display: flex;
  gap: 20px;
}

img {
  width: 250px;
  height: 250px;

  object-fit: cover;
  /* object-position: -50%, -50%; */
}

h1 {
  margin-top: 0;
}

.text-wrapper {
  width: 400px;
}

.hidden {
  display: none;
}

select {
  margin-bottom: 20px;
}

.loadero,
.loadero:before,
.loadero:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loadero {
  color: #090808;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loadero:before,
.loadero:after {
  content: '';
  position: absolute;
  top: 0;
}
.loadero:before {
  left: 3.5em;
  animation-delay: -0.32s;
}
.loadero:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
